<div class="profile-container">
  <h1>The A-Team</h1>

  <div class="service-details" >
    <%= image_tag "jason.jpg", class: "profile-pic"%>
    <div class="service-hover-text text-center">
      <h3>Jason Zhao</h3>
      <h4>Software Engineer</h4>
      <p>
        This man is so ice cold, he has to be measured in kelvin. He's so boss, he's at the
        end of world 8-4. When raised as an exception, he cannot be handled.
      </p>
    </div>
    <div class="service-white service-text">
      <div class="text-center">
        <p>Jason Zhao</p>
      </div>
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
  </div>
  <div class="service-details text-center">
    <%= image_tag "nam.jpg", class: "profile-pic"%>
    <div class="service-hover-text">
      <h3>Nam Hoang Nguyen</h3>
      <h4>Software Engineer</h4>
      <p>Visionary developer, down-to-earth and owns up to tasks in a relentless manner.</p>
    </div>
    <div class="service-white service-text">
      <div class="text-center">
        <p>Nam Nguyen</p>
        <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="service-details text-center">
    <%= image_tag "andy.jpg", class: "profile-pic"%>
    <div class="service-hover-text">
      <h3>Andy Carlson</h3>
      <h4>Software Engineer</h4>
      <p>All of the coders in the world are his nth:child. He be preaching mad wisdom and is the scientist of codes.</p>
    </div>
    <div class="service-white service-text">
      <div class="text-center">
        <p>Andy Carlson</p>
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="service-details text-center">
    <%= image_tag "charlie.jpg", class: "profile-pic"%>
    <div class="service-hover-text">
      <h3>Charlie Ward</h3>
      <h4>Software Engineer</h4>
      <p> Charlie Ward. The man. The legend. Master of the drunken irish code, he throws down lines faster than McGregor can throws punches. </p>
    </div>
    <div class="service-white service-text">
      <div class="text-center">
        <p>Charlie Ward</p>
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- <div class="profile-images">
  <img src="http://robohash.org/jason.png?size=300x300" atl="robot">
  Jason
  <img src="http://robohash.org/andy.png?size=300x300" atl="robot">
  Andy
  <br>
  <img src="http://robohash.org/charlie.png?size=300x300" atl="robot">
  Charlie
  <img src="http://robohash.org/nam.png?size=300x300" atl="robot">
  Nam
</div>

<p>ABOUT US:</p>
<p>Darity is an about about dares and charity.</p>
<p>You better do some dares for charity you fucker.</p>
<p>Or else angel gopher will be royally pissed.</p> -->
