<main class="container">
  <div class="panel panel-default">
    <section class="panel-body">
      <ul class="list-group">
        <% @dares.each do |dare| %>
          <% @followees.each do |followee| %>
            <li class="list-group-item">
              <h5 class="list-group-item-heading">
                <%= link_to dare.proposer.username, dare.proposer %>
                          just dared
                <%= link_to dare.daree.username, dare.daree %>
              </h5>
            </li>
            <li class="list-group-item">
              <h5 class="list-group-item-heading">
                <%= link_to dare.daree.username, dare.daree %>
                          was challenged by
                <%= link_to dare.proposer.username, dare.proposer %>
              </h5>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>
  </div>
</main>
