<main class="container">
  <div class="panel panel-default">
    <section class="panel-body">
      <ul class="list-group">
        <% @dares.each do |dare| %>
          <li class="list-group-item">
            <h5 class="list-group-item-heading"><%= dare.title %></h5>
            <p><%= dare.description %></p>
            <p>
              <%= link_to dare.proposer.username, dare.proposer %>
                        dares
              <%= link_to dare.daree.username, dare.daree %>
            </p>
            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</main>
