<div class="video-container">
  <div class="hero-unit hero-wrapper embed-responsive embed-responsive-16by9">
    <video id="video" poster="" autoplay loop class="embed-responsive-item">
      <source src="https://a0.muscache.com/airbnb/static/London-P1-1.mp4" type="video/mp4">
      <source src="https://a0.muscache.com/airbnb/static/London-P1-0.webm" type="video/ogg">
    </video>
  </div>
</div>

<section class="container">


  <div class="header-text">
    <h1>Welcome to Darity</h1>
  </div>

</section>

