<h1>Welcome to Darity</h1>

<p>ALL USERS:</p>

<hr>

<% @users.each do |user| %>
  <p>
    <%= user.username %>
    <%= link_to 'Dare', '#' %>
    <!-- controller: "dares", action: "" -->
  </p>
<% end %>
