<section class="container">

  <h1><%= @user.username.capitalize %>'s Page</h1>
  <%= image_tag @user.image_url %>

  <%= link_to "dare #{@user.username.capitalize}!", new_user_dare_path(current_user) + "?daree=#{@user.id}" %>

  <a href="" id="challenged">challenged</a>
  <a href="" id="proposed">proposed</a>
  <a href="" id="pledged">pledged</a>

  <section id="view-dares"></section>


</section>
