<h1>Welcome <%=@user.username%></h1>

  <h3>This Daredevil:</h3>

<% @challenged_dares.each do |dare| %>
  <p>Challenged Dares</p>
  <p><%= link_to dare.title, user_dares_path(dare.proposer, dare) %></p>
<% end %>

<hr>

<% @proposed_dares.each do |dare| %>
  <p>Proposed Dares</p>
  <p><%= link_to dare.title, user_dares_path(dare.proposer, dare) %></p>
<% end %>

<hr>

<% @pledged_dares.each do |dare| %>
  <p>Pledged Dares</p>
  <p><%= link_to dare.title, user_dares_path(dare.proposer, dare) %></p>
<% end %>
