<div class="btn-group pull-right" role="group" aria-label="...">
  <button type="button" class="btn btn-sm btn-success">Proposed</button>
  <button type="button" class="btn btn-sm btn-<%= dare.price ? 'success' : 'default' %>">Accepted</button>
  <button type="button" class="btn btn-sm btn-<%= dare.video ? 'success' : 'default' %>">Completed</button>
</div>
