<% if @user == current_user %>
<h3>You've been challenged to:</h3>
<% else %>
<h3><%= @user.username %> has been challenged to:</h3>
<% end %>
<ul class="list-group">
  <% if @user.challenged_dares.empty? %>
    <div class="alert alert-warning">
      You have no challenged dares, so . . . Darity dares you to . . . DARE YOURSELF FOR CHARITY!
    </div>
  <% else %>
    <% @challenged_dares.each do |dare| %>
      <li class="list-group-item">
        <p><%= link_to dare.title, user_dare_path(dare.proposer, dare) %></p>
        <p><%= dare.description %></p>
        <%= tweet_button message: 'tweet it!', user: @user, dare: dare %>
      </li>
    <% end %>
  <% end %>
</ul>
