<div class="container">

<div class="a-team">

  <h1>The A-Team</h1>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="profile-container" >
        <%= image_tag "jason.jpg", class: "profile-pic"%>
        <div class="profile-hover text-center">
          <h3>Jason Zhao</h3>
          <h4>Software Engineer</h4>
          <p>
            This man is so ice cold, he has to be measured in kelvin. He's so boss, he's at the
            end of world 8-4. When raised as an exception, he cannot be handled.
          </p>
        </div>
        <div class="profile-info profile-text">
          <div class="text-center">
            <p>Jason Zhao</p>
            <ul class="list-inline social-buttons">
              <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </div></div>
      <div class="col-md-6">
        <div class="profile-container text-center">
          <%= image_tag "nam.jpg", class: "profile-pic"%>
          <div class="profile-hover">
            <h3>Nam H. Nguyen</h3>
            <h4>Software Engineer</h4>
            <p>Visionary developer, down-to-earth and owns up to tasks in a relentless manner.</p>
          </div>
          <div class="profile-info profile-text">
            <div class="text-center">
              <p>Nam H. Nguyen</p>
              <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="profile-container text-center">
          <%= image_tag "andy.jpg", class: "profile-pic"%>
          <div class="profile-hover">
            <h3>Andy Carlson</h3>
            <h4>Software Engineer</h4>
            <p>All of the coders in the world are his nth:child. He be preaching mad wisdom and is the scientist of codes.</p>
          </div>
          <div class="profile-info profile-text">
            <div class="text-center">
              <p>Andy Carlson</p>
              <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-container text-center">
          <%= image_tag "charlie.jpg", class: "profile-pic"%>
          <div class="profile-hover">
            <h3>Charlie Ward</h3>
            <h4>Software Engineer</h4>
            <p> Charlie Ward. The man. The legend. Master of the drunken irish code, he throws down lines faster than McGregor can throws punches.</p>
          </div>
          <div class="profile-info profile-text">
            <div class="text-center">
              <p>Charlie Ward</p>
              <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="technology-used">
    <h1> Technologies Used </h1>
    <ul>
      <li>bootstrap <img src="http://node.moore-database.com/images/bootstrap-logo.png"></li>
      <li>twitter oauth <img src="https://g.twimg.com/Twitter_logo_blue.png" width="150px"></li>
      <li>kimono <img src="http://0x0a.li/wp-content/uploads/2015/03/kimono_logo-150x150.png"></li>
      <li>heroku <img src="http://upload.wikimedia.org/wikipedia/en/a/a9/Heroku_logo.png"></li>
      <li>rails <img src="http://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png"</li>
      <li>stripe <img src="http://blogs-images.forbes.com/tomiogeron/files/2012/10/Stripe-logo.jpeg"</li>
      <li>puma <img src="http://puma.io/images/logos/puma-logo-large.png"></li>
    </ul>
  </div>

  <div class="hurdles">
    <h1> Hurdles </h1>  
    <ul>
      <li>turbolinks (solution was to remove and use puma) CDN's</li>
      <li>massive association relationships/querying</li>
      <li>fighting the urge to play ping pong</li>
    </ul>
  </div>

  <div class="team-dynamics">
    <h1> Team Dynamics </h1>
    <ul>
      <li>pong-modoro break teachnique</li>
      <li>360 feedback</li>
      <li>challenging each other to do dares</li>
    </ul>
  </div>

  <div class="stretch-goals">
    <h1> Stretch Goals </h1>
    <ul>
      <li>make the app viral</li>
      <li>win the Rio 2016 ping pong Olympics</li>
      <li>take over the world</li>
    </ul>
  </div>

</div>
