<div class="container">

  <ul class="nav nav-pills">
    <li role="presentation"><a href="#a-team">Meet the Team</a></li>
    <li role="presentation"><a href="#technology-used">Technologies Used</a></li>
    <li role="presentation"><a href="#hurdles">Hurdles Face</a></li>
    <li role="presentation"><a href="#team-dynamics">Team Dynamics</a></li>
    <li role="presentation"><a href="#stretch-goals">Stretch Goals</a></li>
  </ul>

  <!-- use scrollTo in jquery to make the animation nicer -->

<div class="a-team" id="a-team">

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="profile-container" >
        <%= image_tag "jason.jpg", class: "profile-pic"%>
        <div class="profile-hover text-center">
          <h3>Jason Zhao</h3>
          <h4>Software Engineer</h4>
          <p>
            This man is so ice cold, he has to be measured in kelvin. He's so boss, he's at the
            end of world 8-4. When raised as an exception, he cannot be handled.
          </p>
        </div>
        <div class="profile-info profile-text">
          <div class="text-center">
            <p>Jason Zhao</p>
            <ul class="list-inline social-buttons">
              <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </div></div>
      <div class="col-md-6">
        <div class="profile-container text-center">
          <%= image_tag "nam.jpg", class: "profile-pic"%>
          <div class="profile-hover">
            <h3>Nam H. Nguyen</h3>
            <h4>Software Engineer</h4>
            <p>Until the birth of this man, the howler monkey was believed to be the loudest animal in the world! He brings the noise, and we wouldn't want it any other way! One of his life goals is to high five a consenting billionaire! If it ain't JSON he's serving up, it's ping pong balls at a high velocity! </p>
          </div>
          <div class="profile-info profile-text">
            <div class="text-center">
              <p>Nam H. Nguyen</p>
              <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="profile-container text-center">
          <%= image_tag "andy.jpg", class: "profile-pic"%>
          <div class="profile-hover">
            <h3>Andy Carlson</h3>
            <h4>Software Engineer</h4>
            <p>All of the coders in the world are his nth:child. He be preaching mad wisdom and is the scientist of codes.</p>
          </div>
          <div class="profile-info profile-text">
            <div class="text-center">
              <p>Andy Carlson</p>
              <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-container text-center">
          <%= image_tag "charlie.jpg", class: "profile-pic"%>
          <div class="profile-hover">
            <h3>Charlie Ward</h3>
            <h4>Software Engineer</h4>
            <p> Charlie Ward. The man. The legend. Throwing down lines faster than McGregor can throws punches, Charlie will stop at nothing to overcome his challenges. An essential member to any awesome team. </p>
          </div>
          <div class="profile-info profile-text">
            <div class="text-center">
              <p>Charlie Ward</p>
              <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="technology-used" id="technology-used">
    <img src="http://upload.wikimedia.org/wikipedia/commons/e/ea/Boostrap_logo.svg" height="150px">
    <img src="https://g.twimg.com/Twitter_logo_blue.png" height="150px">
    <img src="http://0x0a.li/wp-content/uploads/2015/03/kimono_logo-150x150.png" >
    <img src="http://upload.wikimedia.org/wikipedia/en/a/a9/Heroku_logo.png" height="150px">
    <img src="http://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" height="150px">
    <img src="http://blogs-images.forbes.com/tomiogeron/files/2012/10/Stripe-logo.jpeg" height="150px">
    <img src="http://puma.io/images/logos/puma-logo-large.png" height="150px">
    <img src="http://media.idownloadblog.com/wp-content/uploads/2015/01/YouTube-logo-medium.png" height="150px">
    <img src="http://precision-software.com/wp-content/uploads/2014/04/jQurery.gif" height="150px">
    <img src="http://www.localwisdom.com/wp-content/uploads/2013/03/Ajax-logo.gif" height="150px">
    <img src="https://cms-assets.tutsplus.com/uploads/users/48/posts/22727/preview_image/rspec.png" height="150px">
</div>

<div class="hurdles" id="hurdles">
  <h1> Hurdles </h1>
  <ul>
    <li>turbolinks (solution was to remove and use puma) CDN's</li>
    <li>massive association relationships/querying</li>
    <li>fighting the urge to play ping pong</li>
  </ul>
</div>

<div class="team-dynamics" id="team-dynamics">
  <h1> Team Dynamics </h1>
  <ul>
    <li>pong-modoro break teachnique</li>
    <li>360 feedback</li>
    <li>challenging each other to do dares</li>
  </ul>
</div>

<div class="stretch-goals" id="stretch-goals">
  <h1> Stretch Goals </h1>
  <ul>
    <li>make mobile app</li>
    <li>make the app viral</li>
    <li>win the Rio 2016 ping pong Olympics</li>
    <li>take over the world</li>
  </ul>
</div>

</div>

<!-- Trending Youtube Dare #1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Trending Youtube Dare #2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Heading</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt="">
                            <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                            <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Trending Youtube Dare #3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/treehouse-preview.png" alt="">
                            <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>