<div class="container">
  <a href="#a-team">Meet the Team</a>
  <a href="#technology-used">Technologies Used</a>
  <a href="#hurdles">Hurdles Face</a>
  <a href="#team-dynamics">Team Dynamics</a>
  <a href="#stretch-goals">Stretch Goals</a>
  <!-- use scrollTo in jquery to make the animation nicer -->

<div class="a-team" id="a-team">

  <h1>The A-Team</h1>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="profile-container" >
        <%= image_tag "jason.jpg", class: "profile-pic"%>
        <div class="profile-hover text-center">
          <h3>Jason Zhao</h3>
          <h4>Software Engineer</h4>
          <p>
            This man is so ice cold, he has to be measured in kelvin. He's so boss, he's at the
            end of world 8-4. When raised as an exception, he cannot be handled.
          </p>
        </div>
        <div class="profile-info profile-text">
          <div class="text-center">
            <p>Jason Zhao</p>
            <ul class="list-inline social-buttons">
              <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </div></div>
      <div class="col-md-6">
        <div class="profile-container text-center">
          <%= image_tag "nam.jpg", class: "profile-pic"%>
          <div class="profile-hover">
            <h3>Nam H. Nguyen</h3>
            <h4>Software Engineer</h4>
            <p>Visionary developer, down-to-earth and owns up to tasks in a relentless manner.</p>
          </div>
          <div class="profile-info profile-text">
            <div class="text-center">
              <p>Nam H. Nguyen</p>
              <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="profile-container text-center">
          <%= image_tag "andy.jpg", class: "profile-pic"%>
          <div class="profile-hover">
            <h3>Andy Carlson</h3>
            <h4>Software Engineer</h4>
            <p>All of the coders in the world are his nth:child. He be preaching mad wisdom and is the scientist of codes.</p>
          </div>
          <div class="profile-info profile-text">
            <div class="text-center">
              <p>Andy Carlson</p>
              <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-container text-center">
          <%= image_tag "charlie.jpg", class: "profile-pic"%>
          <div class="profile-hover">
            <h3>Charlie Ward</h3>
            <h4>Software Engineer</h4>
            <p> Charlie Ward. The man. The legend. Master of the drunken irish code, he throws down lines faster than McGregor can throws punches.</p>
          </div>
          <div class="profile-info profile-text">
            <div class="text-center">
              <p>Charlie Ward</p>
              <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="technology-used" id="technology-used">
  <h1> Technologies Used </h1>
    <img src="http://upload.wikimedia.org/wikipedia/commons/e/ea/Boostrap_logo.svg" height="150px">
    <img src="https://g.twimg.com/Twitter_logo_blue.png" height="150px">
    <img src="http://0x0a.li/wp-content/uploads/2015/03/kimono_logo-150x150.png" >
    <img src="http://upload.wikimedia.org/wikipedia/en/a/a9/Heroku_logo.png" height="150px">
    <img src="http://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" height="150px">
    <img src="http://blogs-images.forbes.com/tomiogeron/files/2012/10/Stripe-logo.jpeg" height="150px">
    <img src="http://puma.io/images/logos/puma-logo-large.png" height="150px">
    <img src="http://media.idownloadblog.com/wp-content/uploads/2015/01/YouTube-logo-medium.png" height="150px">
    <img src="http://precision-software.com/wp-content/uploads/2014/04/jQurery.gif" height="150px">
    <img src="http://www.localwisdom.com/wp-content/uploads/2013/03/Ajax-logo.gif" height="150px">
    <img src="https://cms-assets.tutsplus.com/uploads/users/48/posts/22727/preview_image/rspec.png" height="150px">
</div>

<div class="hurdles" id="hurdles">
  <h1> Hurdles </h1>  
  <ul>
    <li>turbolinks (solution was to remove and use puma) CDN's</li>
    <li>massive association relationships/querying</li>
    <li>fighting the urge to play ping pong</li>
  </ul>
</div>

<div class="team-dynamics" id="team-dynamics">
  <h1> Team Dynamics </h1>
  <ul>
    <li>pong-modoro break teachnique</li>
    <li>360 feedback</li>
    <li>challenging each other to do dares</li>
  </ul>
</div>

<div class="stretch-goals" id="stretch-goals">
  <h1> Stretch Goals </h1>
  <ul>
    <li>make mobile app</li>
    <li>make the app viral</li>
    <li>win the Rio 2016 ping pong Olympics</li>
    <li>take over the world</li>
  </ul>
</div>

</div>
