<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="charity-img">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/f7/55/c3/f755c3433cb0243feab178b5ee1a3485.jpg" width="500px" height="500px" text-align="center">
    </div>
    <h1>Darity thanks you from the bottom of our hearts for signing up, <%= @user.username %></h1>

    <p>Our app depends on you having a Twitter Account</p>
    <br>
    <hr>
    <br>
    <p>Sign up here with Twitter:</p>
 </body>
</html>
