
#video {
  opacity: .7;
}

.hero-wrapper {
  position: relative;
  margin: 0 auto;
}

.video-container {
  position: relative;
  z-index: -10;
}

.follows {
  margin-top: 1em;
}

.jumbotron {
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15em;
  h1 { color: white; };
  h3 { opacity: 0.6; color: white; }
}

.flowchart {
  padding-top: 80px;
  text-align: center;
  .fa-lg:before { font-size: 6em; }
  h3 { font-weight: lighter; }
}
