
.nav-tabs {
  a {
    transition: 1s;
  }
  .active {
    a {
      font-weight: bold;
      font-size: 1.1em;
      color: red;
    }
  }
}

#drop-search {
  width: 300px;
}

.navform-style{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
.navform-style .help-block{
    font-size:12px
}
.navform-style .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
.navform-style .social-buttons{
    margin:12px 0
}
.navform-style .social-buttons a{
    width: 49%;
}
.navform-style .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.navbar {
  margin-bottom: 0;
  .navbar-brand { color: inherit; }
  .navbar-nav>li>a { color: inherit; }
}

.navbar-default {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
