#video {
  opacity: .7;
}

.hero-wrapper {
  position: relative;
  margin: 0 auto;
}

.video-container {
  z-index:-10;
  position: relative;
}

.header-text {
  position: relative;
  z-index:100;
}

/*body * {
  border: red 1px dashed;
}*/


.nav-tabs {
  a {
    transition: 1s;
  }
  .active {
    a {
      font-weight: bold;
      font-size: 1.1em;
      color: red;
    }
  }
}

