<tr>
  <th>Name</th>
  <th>Mission</th>
  <th>Transparency Score</th>
  <th>Url</th>
</tr>
<tr>
  <td><div class="max-200"><%= charity.name  %></div></td>
  <td><div class="max-200"><%= charity.mission  %></div></td>
  <td><div class="max-200"><%= charity.transparency_score %></div></td>
  <td><div class="max-200"><%= link_to "More Information about this Charity", charity.url %></div></td>
</tr>
