<li class='list-group-item'>
  <p>Name: <%= charity.name %></p>
  <p>Followers: <%= charity.followers %> </p>
  <button class="btn btn-default">
    <%= link_to "More Information about this Charity", charity.url %>
  </button>
</li>
