<tr>
  <th>Name</th>
  <th>Mission</th>
  <th>Transparency Score</th>
  <th>Url</th>
</tr>
<tr>
  <td><%= charity.name  %></td>
  <td><%= charity.mission  %></td>
  <td><%= charity.transparency_score %></td>
  <td> <%= link_to "More Information about this Charity", charity.url %></td>
</tr>
