<% if @user == current_user %>
<h3>You've dared people to:</h3>
<% else %>
<h3><%= @user.username %> has dared people to:</h3>
<% end %>
<ul class="list-group">
  <% if @user.proposed_dares.empty? %>
    <div class="alert alert-warning">
      You have no proposed dares, so . . . Darity dares you to . . . DARE OTHERS RIDICULOUSLY INNOVATIVE DARES!
    </div>
  <% else %>
    <% @proposed_dares.each do |dare| %>
      <li class="list-group-item">
        <p><%= link_to dare.title, user_dare_path(dare.proposer, dare) %></p>
        <p><%= dare.description %></p>
      </li>
    <% end %>
  <% end %>
</ul>
