html { word-wrap: break-word; }

body {
  position: relative;
  padding-top: 80px;
}

#video {
  opacity: .7;
}

.hero-wrapper {
  position: relative;
  margin: 0 auto;
}

.video-container {
  margin-top: -80px;
  position: relative;
  z-index: -10;
}

.jumbotron {
  text-align: center;
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15em;
  h1 { color: white; };
  h3 { opacity: 0.6; color: white; }
}

@media only screen and (max-width: 850px) {
  .jumbotron { padding: 10em; }
}

@media only screen and (max-width: 680px) {
  .jumbotron { padding: 8em; }
}

@media only screen and (max-width: 500px) {
  .jumbotron { padding: 4em; }
}

.flowchart {
  padding-bottom: 20px;
  text-align: center;
  .fa-lg:before { font-size: 6em; }
  .fa-lg { padding-top: 90px; }
  h3 { font-weight: lighter; }
  .fa-arrow-right {
    position: relative;
    top: 90px;
  }
}

.charity {
  text-align: center;
}

@media only screen and (max-width: 765px) {
  .charity { width: 300px; }
}
