$red-dark: rgb(159, 44, 53);
$red-pink: rgb(239, 64, 74);
$red-light: rgb(178, 50, 59);

body {
  position: relative;
  padding-top: 80px;
}

.notice {
  z-index: 10;
}

#video {
  opacity: .7;
}

.hero-wrapper {
  position: relative;
  margin: 0 auto;
}

.video-container {
  margin-top: -80px;
  margin-bottom: 50px;
  position: relative;
  opacity: 0.7;
}


.jumbotron {
  text-align: center;
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15em;
  h1 { color: white; };
  h3 { opacity: 0.6; color: white; }
}

@media only screen and (max-width: 850px) {
  .jumbotron { padding: 10em; }
}

@media only screen and (max-width: 680px) {
  .jumbotron { padding: 8em; }
}

@media only screen and (max-width: 500px) {
  .jumbotron { padding: 4em; }
}

@media only screen and (max-width: 430px) {
  .jumbotron { padding: 2em; }
}

.flowchart {
  color: $red-dark;
  padding-bottom: 20px;
  text-align: center;
  .fa-lg:before { font-size: 6em; }
  .fa-lg { padding-top: 90px; }
  h3 { font-weight: lighter; color: #333;}
  .fa-arrow-right {
    position: relative;
    top: 90px;
  }
}

.charity {
  text-align: center;
}

@media only screen and (max-width: 765px) {
  .charity { width: 300px; }
}

.fa-chevron-right,
.fa-chevron-left {
  position: relative;
  top: 300px;
}

.mar-auto { margin: auto }
