$red-dark: rgb(159, 44, 53);
$red-pink: rgb(239, 64, 74);
$red-light: rgb(178, 50, 59);

html,
body {
   margin:0;
   height:100%;
}

#wrap {
  min-height: 90%;
}

a {
  color: $red-pink;
}

a:hover {
  color: $red-dark;
}

.panel {
  background: #efefef;
}


.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
