.user-partial {
  img {
    max-width: 30px;
    padding-right: 8px;
  }
}

#gen-dare {
  margin-top: 20px;
}
/*
body {
  background: rgb(159, 44, 53);
  background: rgb(239, 64, 74);
  background: rgb(178, 50, 59);

}
*/
