<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style type="text/css" media="screen">
      .orange-circle-button {
        box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
        border: .5em solid #E84D0E;
        font-size: 1em;
        line-height: 1.1em;
        color: #ffffff;
        background-color: #e84d0e;
        margin: auto;
        border-radius: 50%;
        height: 7em;
        width: 7em;
        position: relative;
      }
      .orange-circle-button:hover {
        color:#ffffff;
        background-color: #e84d0e;
        text-decoration: none;
        border-color: #ff7536;

      }
      .orange-circle-button:visited {
        color:#ffffff;
        background-color: #e84d0e;
        text-decoration: none;

      }
      .orange-circle-link-greater-than {
        font-size: 1em;
      }
      .username {
        text-align: center
      }
      .gratitude {
        text-align: center
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
